
#footer { text-align: center;
  padding: 3px;
  color: white;
  position: fixed;
   left: 0;
   bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);

}

a.ex1:hover {
  color: red;
}

.mb-0{
  color: white;
}