body {
  background-image: url("https://images.pexels.com/photos/414144/pexels-photo-414144.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

#footer { text-align: center;
  padding: 3px;
  color: white;
  position: fixed;
   left: 0;
   bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);

}

a.ex1:hover {
  color: red;
}
  .box{
    font-size: small;

  }